@use '../../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 80px auto;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 664px;
  padding: 16px;
}

.description {
  color: $text-muted;
  font-weight: 500;
}

.button {
  width: 209px;
}
