html,
body,
div,
span,
iframe,
h1,
h2,
h3,
p,
a,
address,
img,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  margin: 0;
  border: none;
  background: none;
}
