$color-apple: #339933;
$color-mine-shaft: #282828;
$color-white: #ffffff;
$color-alto: #dddddd;
$color-gray: #8b8b8b;
$color-porcelain: #f1f3f4;

$bg-primary: $color-white;
$bg-button-primary: $color-apple;
$bg-button-secondary: $color-white;
$bg-button-hover: $color-mine-shaft;
$bg-button-active: $color-white;
$bg-button-secondary-hover: $color-mine-shaft;
$bg-button-secondary-active: $color-porcelain;

$text-button-primary: $color-white;
$text-button-hover: $color-white;
$text-button-active: $color-mine-shaft;

$text-button-secondary: $color-mine-shaft;
$text-button-secondary-hover: $color-white;
$text-button-secondary-active: $color-apple;

$border-primary: $color-alto;
$border-secondary: $color-white;

$title-heading: $color-mine-shaft;
$title-on-dark: $color-white;
$text-body: $color-mine-shaft;
$text-muted: $color-gray;

$text-link-hover: $color-apple;
