$background-default: #ffffff;
$background-button: #339933;
$background-button-hover: #282828;
$background-button-active: #ffffff;

$border-default: #dddddd;

$title-primary: #282828;
$title-secondary: #ffffff;

$text-primary: #282828;
$text-secondary: #8b8b8b;
$text-link-hover: #339933;

$text-button-default: #ffffff;
$text-button-hover: #ffffff;
$text-button-active: #339933;

$banner-button-default: #282828;
$banner-button-active: #339933;
