@use "./variables" as *;
@use "./fonts";
@use "./global";

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  color: $text-body;
  font-family: "Montserrat", sans-serif;
}

main {
  flex-grow: 1;
}

h1 {
  color: $title-heading;
  font-weight: 700;
  font-size: 96px;
  line-height: 110.01%;
}

h2 {
  color: $title-heading;
  font-weight: 700;
  font-size: 64px;
  line-height: 110.01%;
}

h3 {
  color: $title-heading;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

p {
  color: $text-body;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

input,
a {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}
