@use "../../../styles/variables" as *;

.input {
  padding: 16px 32px;
  border-radius: 8px;

  transition: all 0.3s ease;
}

.primary {
  border: 1px solid $border-primary;
  color: $text-muted;
  background-color: $bg-primary;

  &::placeholder {
    color: $text-muted;
  }
}

.secondary {
  border: 1px solid $border-secondary;
  color: $color-white;
  background-color: transparent;

  &::placeholder {
    color: $color-white;
  }
}
