.priceRange {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.input {
  width: 112px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  appearance: textfield;
  appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 12px;
}
