.modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 424px;
  max-height: 236px;
}

.title,
.text {
  color: #ffffff;
  font-weight: 600;
}

.title {
  font-size: 40px;
}

.text {
  font-size: 20px;
}
